DATABASE_URL=your_database_url_here
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRY=your_jwt_expiry_here
PORT=your_port_here
NODE_ENV=your_node_env_here
SIMULATED_PAYMENT=your_simulated_payment_here
FRONTEND_URL=your_frontend_url_here
CITY_DEFAULT=your_city_default_here